<div>
  <h2>Commander Finder</h2>
  <div class="card-list-container">
    @for (card of cards; track $index) {
    <mat-card class="card-container" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ card.name }} </mat-card-title>
        <mat-card-subtitle>{{ card.set_name }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ card.image_url }}"
        alt="Photo of {{ card.name }}"
      />
      <mat-card-content class="card-content">
        <p>{{ card.description }}</p>
      </mat-card-content>
    </mat-card>
    }
  </div>
  <button mat-stroked-button (click)="loadMore()">Load More</button>
</div>
