<div class="filter-bar">
  <div class="filter-header"><h2>Filters</h2></div>

  <h3>Color(s):</h3>
  <form [formGroup]="filterForm">
    <div *ngFor="let color of colors">
      <input
        type="checkbox"
        [id]="color"
        name="color"
        [value]="color.name"
        (change)="onColorChange($event, color.value)"
      />
      <label [for]="color">{{ color.name | titlecase }}</label>
    </div>
  </form>

  <h3>Max Cost:</h3>
  <form [formGroup]="filterForm">
    <div>
      <select id="cost" name="cost" formControlName="max_cost">
        <option value="" selected>Any</option>
        <option *ngFor="let cost of costs" [value]="cost">
          {{ cost }}
        </option>
      </select>
    </div>
  </form>

  <h3>Set:</h3>
  <form [formGroup]="filterForm">
    <div>
      <select id="set" name="set" formControlName="set">
        <option value="" selected>Any</option>
        <option *ngFor="let set of sets" [value]="set.code">
          {{ set.name }}
        </option>
      </select>
    </div>
  </form>

  <div>
    <button type="button" (click)="applyFilters()">Filter</button>
  </div>
</div>
